/* Cards Value - Value proposition cards with icons (Why work with AT&T) */

/* Structure: .cards-value > ul > li > div(icon) + div(text) */

.cards-value > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-m);
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards-value > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--spacing-m) var(--spacing-s);
}

.cards-value > ul > li > div:first-child {
  margin-bottom: var(--spacing-s);
  line-height: 0;
}

.cards-value > ul > li > div:first-child img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.cards-value > ul > li > div:last-child p {
  margin: 0 0 var(--spacing-xs);
  font-size: var(--body-font-size-s);
  color: var(--text-color-secondary);
  line-height: 1.5;
}

.cards-value > ul > li > div:last-child p strong {
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  color: var(--text-color);
  display: block;
  margin-bottom: var(--spacing-xs);
}

.cards-value > ul > li > div:last-child .button-container {
  margin-top: auto;
  padding-top: var(--spacing-xs);
}

.cards-value > ul > li > div:last-child .button-container a {
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

.cards-value > ul > li > div:last-child .button-container a::after {
  content: ' >';
}

.cards-value > ul > li > div:last-child .button-container a:hover {
  text-decoration: underline;
}

@media (width >= 600px) {
  .cards-value > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 900px) {
  .cards-value > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
